<h2>Orders</h2>
<table class="table">
  <caption>Orders</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <th scope="row">1</th>
        <td>{{order.description}}</td>
        <td>{{order.moment}}</td>
        <td>{{order.orderStatus}}</td>
        <td>
            <a routerLink="/edit/{{order.id}}">
                <span class="badge">{{order.id}}</span> {{order.description}}
            </a>
        </td>
      </tr>
    </tbody>
  </table>
  
